body{
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: roboto, sans-serif, arial;
}

header ul {
  list-style-type: none;
  background-color: black;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  border: 1px solid #e7e7e7;
  border-radius: 25px;
  position: fixed;
  box-sizing: border-box;
}

header li {
 float: left;
  border-right: 1px solid wheat;
 
}

header li:last-child{
  border: none;
}

header li a{
display: block;
text-align: center;
padding: 14px 16px;
color: red;
text-decoration: none;
z-index: 1000;
}

header li:hover:not(#utama) {
 background-color: lightslategrey;

}

header li #utama{
  background-color: red;
  color: white;
}

main{
  text-align: center;
  margin-bottom: 100px;
}

img{
    border-radius: 100%;
    width: 120px;
    margin-top: 60px;
}

.list{
  list-style-type: none;
  margin-top: 16px auto;
  padding: 0;
  width: 40%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.list li{
  margin: 10px;
}

.social-media-icon{
  background-color: rgba(166, 166, 166, 0.884);
  backdrop-filter: blur(6px);
  border-radius: 35px;
  display: block;
  font-size: 16px;
  color: black;
  padding: 6px;
  text-decoration: none;
}

.social-media-icon2{
  background-color: rgba(156, 156, 156, 0.281);
  backdrop-filter: blur(6px);
  border-radius: 35px;
  display: block;
  font-size: 16px;
  color: black;
  padding: 6px;
  text-decoration: none;
}

.fa-instagram {
  color: crimson;;
}

.fa-facebook{
  color: #0000d1;
}

.fa-discord{
  color: rgb(0, 0, 99);
}

div{
  display: flex;
  margin-top: 32vh;
  justify-content: center;
  align-items: center;
}

table{
position: relative;
margin-top: 150px;
width: 50%;
height: 200px;
text-align: center;

}

th {
  background-color: rgba(166, 166, 166, 0.884);
}

table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
}

footer {
  margin-top: 16px;
  margin-bottom: 0;
  border-top: 1px groove rgb(102, 102, 102);
}